.nav-header {

  @media only screen and (max-width: 1080px) {
    &__close,
    &__title {
      display: block;
    }
  }

  &__close,
  &__title {
    display: none;
  }

  &__menu {

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
    }
  }
}