<nav class="nav-header js-menu-container">
  <span class="nav-header__close js-menu-close" aria-label="Закрыть мобильное меню">
    <svg class="close-svg" viewbox="0 0 24 24"><use xlink:href="#icon-close"></use></svg>
  </span>
  <div class="nav-header__menu">
    <h3 class="nav-header__title">Меню</h3>
    <ul>
      <li><a href="#">Ссылка</a></li>
      <li><a href="#">Ссылка</a></li>
      <li><a href="#">Ссылка</a></li>
      <li><a href="#">Ссылка</a></li>
      <li><a href="#">Ссылка</a></li>
      <li><a href="#">Ссылка</a></li>
    </ul>
  </div>
</nav>